<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
  <add name="AwesomeStore" connectionString="data source=DESKTOP-6V847JL\sqlexpress;initial catalog=AwesomeStore;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" /></connectionStrings>
</configuration>